<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Login</title>
</head>
<body>
<!--Bottom Footer-->
<div class="bottom section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright">
                    <p>© <span>2024</span> <a href="#" class="transition">Developed By Yash Chauhan</a> <span>All rights reserved.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Bottom Footer-->
<script src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
