<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" >
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Hello World</title>
</head>
<body>
<div th:replace="navbar"></div>
<div class="container">
    <div class=" row col-md-12">

        <div class="right-area col-md-6">
            <h1>WORD GUESSING GAME</h1>
            <h2>Guess the words and win some exciting rewards.</h2>

            <a href="/login"><button class="theme-button btn1 btn-primary" >PLAY NOW!</button></a>
            <a href="/signup"><button class="theme-button btn2 btn-primary" > Create New Account</button></a>
        </div>
        <div class="left-area col-md-6">
            <img class="left-image img-fluid" th:src="@{/logo.jpg}" />
        </div>
    </div>



</div>

<script src="@{js/bootstrap.bundle.min.js}" ></script>
<div th:replace="footer"></div>
</body>
</html>
